#SSinfobox { 
	position: absolute; 
	z-index: 2; 
	left: 20%; 
	width: 60%;
	top: 50px; 
	background: #aaaaaa;
	border: medium solid #1F00FF;
}

#SScountr {
	position: fixed;
	z-index: 2;
	left: 0%;
	width: auto;
	top: 0%;
	background: #000000;
	color: #aaaaaa;
	border: thin solid #aaaaaa;
	visibility: hidden;
}

em.sshlite {
	background-color: #ffff00;
	font-weight: bold;
	font-style: normal;
}

p.hlinfo { margin: 10px 10px 10px 10px; }
.SScntr {
	font-style: italic;
	color: #ffff00;
	margin: 2px 2px 2px 2px;
}

.hlclose {
	text-decoration: underline;
	color: #880000;
}
.hlclose:hover { cursor: pointer; }
