@import "tbar.css";

/* divs */
#main {
	top: 120px;
	width: 100%;
}
.lab {
	position: relative;
	left: 5%;
	width: 90%;
	border: thin solid #cccccc;
	margin-bottom: 25px; 
	background-color: #000045;
}
.pnote {
	position: relative;
	left: 5%;
	width: 90%;
	background-color: #cccccc;
	margin-bottom: 20px; 
	padding-top: 20px;
	padding-bottom: 25px;
	border: thin solid #000000;
}
.nextbatch {
	width: 100%;
	text-align: center; 
}

/* em */
em.hlite {
	background-color: #ffff00;
	font-weight: bold;
	font-style: normal;
}

/* anchors */
a.ntitle {
	text-decoration: none;
	color: #004400;
}
a.ntitle:hover {
	background: #ffffff;
	color: #ff0000;
}

/* headings */
h3 { margin: 5px 10px 5px 25px; }

/* paragraphs */
p { margin: 0px 50px 15px 50px; }
p.date { 
	margin: 0px 10px 25px 25px;
	font-style: italic;
}
p.desc { 
	margin: 10px 50px 10px 50px;
	color: #00ffff;
}
p.nextX {
	font-size: 150%;
	font-weight: bold;
	border: medium solid #ffff00;
	background: #0000ff;
	color: #ffffff;
	cursor: pointer;
}

p.nextX:hover { 
	background: #ffff00; 
	color: #0000ff;
}

li { margin-left: 10%; }
