@import "tbar.css";

/* divs */
#main { 
	top: 125px; 
	left: 5%; 
	width: 90%; 
	border: medium solid #666666; 
	background: #000045; 
}
.section { 
	position: relative; 
	border: thin solid #ffffff; 
	margin: 25px 25px 25px 25px; 
    padding: 16px;
	background: #aaaaaa; 
}

h2 { margin: 20px 20px 20px 20px; }
h3 { 
	margin: 10px 20px 10px 20px; 
	color: #ffffff; 
}
h3.stype { color: #ff0000; }
h4 { 
	margin: 5px 0px 5px 0px; 
	text-decoration: 
	underline; color: #000045; 
}

.red { color: #ff0000; }

p { margin: 10px 20px 10px 20px; }
p.expl {
	font-style: italic;
	color: #bcbcbc;
}

em { font-style: normal; }
em.f1 { color: #ff0000; }
em.f2 { color: #00aa00; }
em.f3 { color: #ff00ff; }
em.f4 { color: #ffaa00; }

a { text-decoration: none; }
a:hover { 
	background: #ffffff; 
	color: #ff0000; 
}
ul li { margin-bottom: 1em; }
