.gusano {
    border-style:solid;
    border-color:#006a66;
    
}
p,h1,h2,b,h3,strike,ul,li {
    color:white;
}
h1 {
    margin:5px;
}
.header {
    overflow:hidden;
    position:fixed;
    top:0;
    left:0px;
    right:0px;
    background-color:#383838;
    border-color:#006a66;
    border-bottom-style:outset;
    width:auto;


}

body {
    margin-bottom: 125px;
    margin:0px;
    background-color:black;
}

.header {
    position:relative;

}
.menu  {
    position:absolute;
    bottom: 0;
    left:100px;
}
a {
    text-decoration:none;
    color:#006a66;
    margin:5px;
}
a:hover{

    color:blue;

}
