.gusano {
    border-style:solid;
    border-color:red;
    padding: 8px;
    margin-bottom: 10px;
}
p,h1,h2,b,h3,h4,h5,h6strike,ul,li {
    color:white;
}
h1 {
    margin:5px;
}
.header {
    overflow:hidden;
    position:fixed;
    top:0;
    left:0px;
    right:0px;
    background-color:#383838;
    border-color:#ff0000;
    border-bottom-style:outset;
    width:auto;
}

body {
    margin-bottom: 125px;
    margin:0px;
    background-color:black;
    font-family:monospace, sans-serif;
}

.header {
    position:relative;

}
.menu  {
    position:absolute;
    bottom: 0;
    left:110px;
}
a {
    text-decoration:none;
    color:red;
    margin:5px;
}
a:hover{
    text-decoration:underline;
    color:blue;
}
