body { color: #000000; background: #ffffff; }

div {
	position: absolute;
	padding: 0px;
	margin: 0px;
}

#titlebar {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100px;
	border: thin solid #000000;
	background-image: url(../images/limecanary-shift.gif);
	z-index: 2
}

#tbar_inner {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	z-index: 3
}

img.bg { display: block; }

h1 {
	text-align: center;
	font-family: helvetica;
	font-size: 60px;
	margin-top: 10px;
}

